<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoraPvcOfB2FSU5xP5j1-xgQGLT_HqQv4</string>
	<key>GCM_SENDER_ID</key>
	<string>720856170616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.micloop.app</string>
	<key>PROJECT_ID</key>
	<string>micloop-6333b</string>
	<key>STORAGE_BUCKET</key>
	<string>micloop-6333b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720856170616:ios:410146c8eaf04497f86d8d</string>
</dict>
</plist>